localhost:5001 {
    # Disable automatic HTTPS redirects
    redir / https://localhost:5001{uri} 308 {
        @httpOnly {
            protocol http
        }
    }

    # Serve Mercure
    mercure {
        # Your Mercure configuration here
    }
    auto_https disable
}