parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - var
        - vendor
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: tests/console-application.php
